<div id="banner">
  <div class="banner-inner">

    <!-- <a href="http://google.com" class="button fork"><strong>A Button</strong></a> -->
    <div class="downloads">
      <ul>
        <li><a href="http://google.com" class="button">CV</a></li>
        <li><a href="https://www.linkedin.com/in/philip-walczak-03a2a124" style="text-decoration:none;" class="spaced_icon">
            <span style="font: 80% Arial,sans-serif; color:#0783B6;">
                <img src="http://awal.io/assets/images/linkedincopy.png" style="width:44px !important;vertical-align:middle;" border="0">
            </span>
        </a></li>
      </ul>
    </div>
  </div>
</div>
