<div id="banner">
  <div class="banner-inner">
    <div class="downloads">
      <ul>
        <li><a href="https://drive.google.com/file/d/1gKuGWoXNpHo_NK1h9kj7LQqp-rB1YxaB/view?usp=share_link" class="button">CV</a></li>
        <li><a href="https://www.linkedin.com/in/philip-walczak-03a2a124" style="text-decoration:none;" class="spaced_icon">
            <span style="font: 80% Arial,sans-serif; color:#0783B6;">
                <img src="./assets/images/linkedincopy.png" style="width:36px !important;vertical-align:middle; margin-top: 6px; margin-right: 6px;" border="0">
            </span>
        </a></li>
      </ul>
    </div>
  </div>
</div>
