<h1>About me</h1>
<p style="text-align:center;"><img src="./assets/images/PhilipWalczak.jpg" alt="Philip Walczak"></p>
<p>I am a first year DDS/PhD student the University of Washington School of Dentistry and Department of Oral Biology. During my undergraduate career, I was a student-athlete on UW's <a href="http://www.gohuskies.com/roster.aspx?rp_id=168">rowing team</a>, where I won three national championships and a gold at the <a href="http://www.hrr.co.uk/">Royal Henley Regatta</a> in London. In my free time, I enjoy cycling in Seattle, skiing at Stevens Pass and Whistler, BC, and <a href="https://www.flickr.com/photos/philtherower">photography</a>.</p>

<h2>Contact</h2>

<p>For more information, please feel welcome to get in touch.</p>

<ul>
  <li><a href="mailto:pwalczak@uw.edu?subject=Let%27s%20get%20in%20touch&body=Hi%20Philip%2C">pwalczak@uw.edu</a></li>
  <li>(425) 350-84xx</a></li>
</ul>

