<h1>About me</h1>
<p><img src="http://www.gohuskies.com/images/2015/12/2/BOCAWHIRMMSRCWZ.20151202223208.jpg?width=250" alt="Philip Walczak"></p>
<p>A creative. Previously at GitHub, Ordered List etc. He can be found on <a href="http://twitter.com/#!/michigangraham">Twitter</a>, <a href="http://github.com/mattgraham">GitHub</a>, <a href="http://madebygraham.com">his blog</a>, and around the country for numerous events. Enjoyed the theme? Share it with the twitterverse. Found bugs, submit a pull request and he'll see what he thinks.</p>
    <h2>Contact</h2>

    <ul>
      <li><a href="mailto:pwalczak@uw.edu?subject=Let%27s%20get%20in%20touch&body=Hi%20Philip%2C">pwalczak@uw.edu</a></li>
      <li>(425) 350-84xx</a></li>
    </ul>