<h1>About me</h1>
<p style="text-align:center;"><img src="./assets/images/IMG_2537.jpeg" alt="Philip Walczak"></p>
<p>I am a 4th year PhD candidate the University of Washington School of Dentistry Department of Oral Health Sciences.  Outside of lab, I practice dentistry at the <a href="https://www.chcsno.org/doctor/philip-walczak-dds/">Community Health Clinic of Snohomish County</a>. During my undergraduate career, I was a student-athlete on UW's <a href="http://www.gohuskies.com/roster.aspx?rp_id=168">rowing team</a>, where I won three national championships and a gold at the <a href="http://www.hrr.co.uk/">Henley Royal Regatta</a> in Henley-on-Thames, England. In my free time, I enjoy the outdoors around beautiful Washington, pulling espresso shots, and photography.</p>

<h2>Contact</h2>

<p>For more information, please feel welcome to get in touch.</p>

<ul>
  <li><a href="mailto:pwalczak@uw.edu?subject=Let%27s%20get%20in%20touch&body=Hi%20Philip%2C">pwalczak@uw.edu</a></li>
  <li>(425) 350-84xx</a></li>
</ul>

