<!-- To add things to the side-bar, simply create an <h2 (or 1)>HEADING</h2 (or 1)> and <p>PUT STUFF HERE</p>. -->

{% include header.html %}

  {% include banner.html %}

  <div class="wrapper">

    {% include page-nav.html %}

  <section>
    <h1>Welcome!</h1>
    <p>I'm Philip, a dental student at the University of Washington (starting Fall 2017). Thanks for visiting my page! Here, you can learn more about me and my research interests and career goals.</p>

    <h1>Research</h1>
    <p>As an undergraduate, I have conducted research in restorative dentistry with <a href="http://depts.washington.edu/b4t/members/john-a-sorensen">Dr. John Sorenson</a> and <a href="https://www.me.washington.edu/research/faculty/ishen/index.html">Prof. Steve Shen</a>. I gained experience in... In particular, I contributed to research on... and <a href="http://washington.edu/">subject name</a>, which I presented at... <a href="http://washington.edu/">conference name</a>.</p>

    <h2>Research Interests</h2>
    <p>When I begin dental school in Fall 2017, I will be collaborating with <a href="http://washington.edu/">Dr. X Y</a> and <a href="http://washington.edu/">Prof. Z W</a>. My interests lie primarily in the following fields:</p>

    <ul>
      <li>A link <a href="https://google.com/">to change.</a></li>
      <li>Another link <a href="https://google.com/">to change.</a></li>
      <li>More links <a href="https://google.com/">to change.</a></li>
      <li>These are just examples.</li>
      <li>This website is under construction!</li>
    </ul>

    <p>I am actively looking for opportunities in... as well as collaborations with industry partners.</p>

    <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
    <!-- XX BEGIN: Template for more content that get automatically linked to sidebar. XX -->
    <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->

    <h1>(1) Big heading</h1>
    <p>(1.1) This is an example of a paragraph below a heading, whose name is visible in the sidebar (on non-mobile devices).</p>
    <p>(1.2) This can be updated with more content if you desire.</p>

    <p>(1.3) Here are some lines by Kafka as a filler: His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream.</p>


    <h2>(2) Sub-heading 1</h2>
    <p>(2.1) This is an example of a paragraph below a subheading, whose name is visible in the sidebar (on non-mobile devices). Below is a template for an unordered list:</p>

    <ul>
      <li>(2.2.1) A link <a href="https://google.com/">inline</a>.</li>
      <li>(2.2.2) List item 2.</li>
      <li>(2.2.3) List item 3.</a></li>
    </ul>

    <p>(2.3) This is another example of a paragraph, with more lines from Kafka: His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>
    
    <h2>(3) Sub-heading 2</h2>
    <p>(3.1) This is an example of a paragraph below a subheading, whose name is visible in the sidebar (on non-mobile devices).</p>

    <p>(3.2) More Kafka lines: A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
    
    <p>(3.3) It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather.</p>

    <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
    <!-- XXX END: Template for more content that get automatically linked to sidebar. XXX -->
    <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->

    {% include philipwalczak.html %}

    </section>

	{{ content }}

