<!-- To add things to the side-bar, simply create an <h2 (or 1)>HEADING</h2 (or 1)> and <p>PUT STUFF HERE</p>. -->

{% include header.html %}

  {% include banner.html %}

  <div class="wrapper">

    {% include page-nav.html %}

  <section>
    <h1>Welcome!</h1>
    <p>I'm Philip, a dental student at the University of Washington (starting Fall 2017). Thanks for visiting my page! Here, you can learn more about me and my research interests and career goals.</p>

    <h1>Research</h1>
    <p>As an undergraduate, I have conducted research in restorative dentistry with <a href="http://depts.washington.edu/b4t/members/john-a-sorensen">Dr. John Sorenson</a> and <a href="https://www.me.washington.edu/research/faculty/ishen/index.html">Prof. Steve Shen</a>. I gained experience in... In particular, I contributed to research on...,  which I presented at...</p>

    <h2>Research Interests</h2>
    <p>When I begin dental school in Fall 2017, I will be collaborating with <a href="http://washington.edu/">Dr. X Y</a> and <a href="http://washington.edu/">Prof. Z W</a>. My interests lie primarily in the following fields:</p>

    <ul>
      <li>A link <a href="https://google.com/">to change.</a></li>
      <li>Another link <a href="https://google.com/">to change.</a></li>
      <li>More links <a href="https://google.com/">to change.</a></li>
    </ul>

    <p>I am actively looking for opportunities in... as well as collaborations with industry partners.</p>

    {% include philipwalczak.html %}

    </section>

	{{ content }}

